.buttons{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    padding-top: 40px;
}


.EnergyDistributionGraph{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.dateClass{
    margin: 20px 0;
}

.dark{
    background-color: #272727;
    color: white;
}

.light {
    background-color: #fff;
    color: black;
}